body {
    font-family: Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer {
    text-align: right;
}

.cta {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}